// script
//script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBW5cuzQmBwKB-X-E0Q-uf74uxtIyRSou0&callback=initMap")
script(src="js/vendor/jquery/dist/jquery.min.js")
//-script(src="js/vendor/bootstrap/dist/js/bootstrap.min.js")
script(src="js/plugins.js")
script(src="js/main.js")